<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>AC商城-注册</title>
	<link rel="stylesheet" type="text/css" href="/static/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
</head>
<body>
<div id="app">
	<div class="register_con">
		<div class="l_con fl">
{#			<a href="#" class="reg_logo">欢迎光临 ———— AC商城</a>#}
			<div class="reg_slogan">欢迎光临 ———— AC商城</div>
			<div class="reg_slogan">中国好品质</div>
			<div class="reg_slogan">AC商城值得信赖</div>
			<div class="reg_slogan">欢迎你的到来</div>
			<div class="reg_banner"></div>
		</div>
		<div class="r_con fr">
			<div class="reg_title clearfix">
				<h1>用户注册</h1>
				<a href="login.html">登录</a>
			</div>
			<div class="reg_form clearfix">
				<form method="post" class="register_form" @submit="on_submit" v-cloak>
                    {% csrf_token %}
					<ul>
						<li>
							<label>用户名:</label>
                            <!--
                            v-model : 绑定属性 ， 值要和name一致
                            @blur 绑定事件 @blur="check_和name一致"
                            -->
							<input type="text" name="username" v-model="username" id="user_name"
                                @blur="check_username">
					        <!--
					        v-show  默认是false 数据不显示 隐藏起来
					        error_name_message 获取到vue中的数
					        -->
                            <span class="error_tip" v-show="error_name">[[ error_name_message ]]</span>
						</li>					
						<li>
							<label>密码:</label>
							<input type="password" name="password" v-model="password" id="pwd" @blur="check_password">
							<span class="error_tip" v-show="error_password">请输入8-20位的密码</span>
						</li>
						<li>
							<label>确认密码:</label>
							<input type="password" name="password2" v-model="password2" id="cpwd" @blur="check_password2">
							<span class="error_tip" v-show="error_password2">两次输入的密码不一致</span>
						</li>
						<li>
							<label>手机号:</label>
							<input type="text" name="mobile" v-model="mobile" id="phone" @blur="check_mobile">
							<span class="error_tip" v-show="error_mobile">请输入正确的手机号码</span>
						</li>
						<li>
							<label>图形验证码:</label>
							<input type="text" name="image_code" v-model="image_code" id="pic_code" class="msg_input" @blur="check_image_code">
                            <!--
                                v-bind : 绑定src ，后续vue传递归来一个url地址
                            -->
							<img v-bind:src="image_code_url" alt="图形验证码" class="pic_code" @click="generate_image_code">
							<span class="error_tip" v-show="error_image_code">[[ error_code_message ]]</span>
						</li>
						<li>
							<label>短信验证码:</label>
							<input type="text" name="sms_code" v-model="sms_code" id="msg_code" class="msg_input" @blur="check_sms_code">
							<a @click="send_sms_code" class="get_msg_code">[[ sms_code_tip ]]</a>
							<span class="error_tip" v-show="error_sms_code">[[ error_sms_code_message ]]</span>
                            {% if sms_code_errmsg %}
                                <span>{{ sms_code_errmsg }}</span>
                            {% endif %}
						</li>
						<li class="agreement">
							<input type="checkbox" name="allow" v-model="allow" id="allow" @change="check_allow">
							<label>同意”AC商城用户使用协议“</label>
							<span class="error_tip" v-show="error_allow">请勾选用户协议</span>
						</li>
						<li class="reg_sub">
							<input type="submit" value="注 册">
                            {% if register_error %}
                                <span>{{ register_error }}</span>
                            {% endif %} 
                            {% if forms_error %}
                                <span>{{ forms_error }}</span>
                            {% endif %}
						</li>
					</ul>				
				</form>
			</div>
		</div>
	</div>
	<div class="footer no-mp">
		<div class="foot_link">
			<a href="#">关于我们</a>
			<span>|</span>
			<a href="#">联系我们</a>
			<span>|</span>
			<a href="#">招聘人才</a>
			<span>|</span>
			<a href="#">友情链接</a>		
		</div>
		<p>CopyRight © 2023 广东AC商业股份有限公司 All Rights Reserved</p>
		<p>电话：010-****283    粤ICP备*******9号</p>
	</div>
</div>
</body>
<script src="/static/js/vue-2.5.16.js"></script>
<script src="/static/js/axios-0.18.0.min.js"></script>
<script src="/static/js/common.js"></script>
<script src="/static/js/register.js"></script>
</html>